/*            HEADER             */
.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 92px 24px 90px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}
/*            HEADER LOGO             */
.header__logo {
  display: block;
  width: 130px;
  grid-column: 2/3;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
}
/*            HEADER NAV             */
.header__menu {
  grid-column: 1/2;
  align-self: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 30px;
  justify-content: end;
}

.header__menu-item {
  padding-right: 6px;
  letter-spacing: 0.18px;
}

.header__menu-item_active {
  list-style: none;
  padding-right: 0;
  letter-spacing: 0;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.header__menu-item_active .header__menu-link {
  border: none;
}
/*            HEADER ADRESS             */
.header__address {
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
  padding-right: 25.5px;
}

.contacts-list {
  list-style-type: none;
  letter-spacing: 0.18px;
}

.contacts-item {
  width: 240px;
}

.contacts-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.contacts-item-last .contacts-link {
  border: none;
}
/*            COVER             */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 179px;
  padding: 165px 50px 51px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.text_left {
  grid-column: 1/4;
}

.text_center {
  grid-column: 3/7;
  text-align: center;
  color: #fff;
  line-height: 100%;
}

.text_right {
  grid-column: 5/9;
  text-align: right;
  line-height: 100%;
  margin-bottom: 0px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}
/*            COVER DESCRIPTION             */
.cover__description {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 28px;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.word-spacing-80 {
  word-spacing: 17.6px;
}

.word-spacing-90 {
  word-spacing: 19.8px;
}

.word-spacing-110 {
  word-spacing: 19.3px;
}

.bet-button {
  color: #fff;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
}
/*            LOTS             */
.lots {
  margin: 0 24px 148px 24px;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
}
/*            LOTS CARD             */
.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: fit-content;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.card {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  position: relative;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  position: relative;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  position: relative;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.ellipsis {
  letter-spacing: 2.6px;
}
/*            LOTS MORE             */
.lots__look-more-link {
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 4.5px;
  font-size: 20px;
  font-weight: 400;
}
/*            ABOUT             */
.about {
  padding: 0 24px 0 24px;
  margin-bottom: 181px;
}

.about__column {
  display: grid;
  grid-template-columns: minmax(334px, auto) 1fr;
  grid-template-rows: minmax(275px, auto) minmax(275px, auto) 1fr;
}
/*            ABOUT LOGO             */
.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 119px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  position: absolute;
  inset: 64px 45.5px 62px 46.48px;
}
/*            ABOUT TEXT             */
.about__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 136px;
  margin-bottom: 92px;
  margin-left: 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 25px;
  padding-top: 8px;
}
/*            FOOTER             */
.footer {
  display: grid;
  grid-template-columns: minmax(240px, auto) minmax(149px, 1fr) minmax(
      240px,
      auto
    );
  margin: 0 50px 88px;
  font-size: 18px;
  font-weight: 400;
}
/*            FOOTER ADDRESS             */
.footer__address {
  grid-column: 1/2;
  align-self: center;
  justify-self: start;
  line-height: 24.3px;
}
/*            FOOTER MENU             */
.footer__menu {
  grid-column: 2/3;
  align-self: start;
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.footer__menu-item_active .footer__menu-link {
  border: none;
}
/*            FOOTER SOCIAL             */
.footer__social-list {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
